include ../../mixins/btn

section.description
  .cmn__wrapper.description__wrapper
    .description__header
      .description__header-content
        h1.cmn__title.description__title Описание, про производство
        p.cmn__text.description__desc Небольшое вводное “слово” про саму компанию далее рыба текст, но при наполнение контента лучше не уходить от заданного кол-ва знаков: Таким образом&nbsp;начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших.

      +btn('#', 'Подробнее')(class="cmn__btn description__btn js-modal-opener" data="description-modal")
      
    img(src="./assets/img/mock.jpg" alt="Изображение заглушка" width="1720" height="520")