section.intro
  .cmn__wrapper
    .intro__wrapper
      h1.cmn__title.intro__title Тратьте свое время на семью, путешествия и увлечения, а не на стройку.
      p.cmn__text.intro__desc Подзаголовок который объяснил бы саму суть вашего направления, не больше этого.

