.section.preview
  .cmn__wrapper.preview__wrapper
    .preview__video
      img(src="./assets/img/intro_bg@1x.jpg" srcset="../assets/img/intro_bg@2x.jpg" alt="3D-тур" width="1920" height="520")

      .preview__play
        a(href="#" aria-label="Запустить видео").preview__play-btn
          svg(width="27" height="30")
            use(xlink:href="#icon-play")
            
        span.cmn__text.cmn__text--white.preview__play-desc Запуск 3D тура или видео, на&nbsp;первое&nbsp;время просто изображения