//fonts

$font_reg: 'RobotoCondensed-Regular';
$font_bold: 'RobotoCondensed-Bold';
$font_thin: 'RobotoCondensed-Light';
$font_sec: 'OpenSans-SemiBold';

// animation

$tr_rules: 0.2s ease;

// widths

$max_width: 1920px;

$desktop_lg: 1920px;
$desktop_md: 1440px;
$tablet_lg: 1200px;
$tablet_sm: 768px;
$mobile_lg: 534px;
$mobile: 320px;

$min_width: 320px;

// colors

$col_white: #ffffff;
$col_black: #101318;
$col_lightblack: #3e3e3e;

$col_grey: #c4c4c4;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;