.description-modal {
    &__title {
        margin-bottom: 2.4rem;
    }

    &__img {
        margin-bottom: 2.4rem;
    }

    &__desc {
        margin-bottom: 3.2rem;
    }
}

.chars {
    &__title {
        font-size: 3.2rem;
        line-height: 3.7rem;
        font-weight: 400;
        margin-bottom: 2.4rem;

        color: $col_black;
    }

    &__item {
        border-top: 1px solid rgba(62,62,62,0.5);

        &:last-child {
            border-bottom: 1px solid rgba(62,62,62,0.5);
        }

        &-header {
            position: relative;
            padding: 1.2rem 0;
            padding-right: 5rem;
            cursor: pointer;

            &::after {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%) rotate(-45deg);
                content: '';
                width: 2.4rem;
                height: 2.4rem;

                background-image: url("../assets/img/close-icon.svg");
                background-repeat: no-repeat;
                background-size: contain;

                transition: transform $tr_rules;
            }
        }

        &-title {
            font-size: 2.4rem;
            line-height: 2.8rem;
            font-weight: 400;
            color: $col_black;
        }

        &-content {
            display: none;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 2.7rem;
            padding-bottom: 2.4rem;

            img {
                width: 29.1rem;
                height: 9.2rem;
                margin-left: auto;
            }
        }

        &-desc {
            font-family: $font-thin;
            font-size: 1.4rem;
            line-height: 1.6rem;
            max-width: 75rem;
            padding-right: 2rem;

            color: $col_black;
        }

        &-header {
            &.opened::after {
                transform: translateY(-50%) rotate(0);
            }

            &.opened + .chars__item-content {
                display: flex;
            }
        }
    }
}