-
  const charList = [
    {
      title: 'Утепление: ',
      name: 'минеральная вата',
      desc: 'Далее рыба текст, но при наполнение контента лучше не уходить от заданного кол-ва знаков: Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития.',
      img: './assets/img/mock.jpg'      
    },

    {
      title: 'Фундамент:',
      name: 'минеральная вата',
      desc: 'Далее рыба текст, но при наполнение контента лучше не уходить от заданного кол-ва знаков: Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития.',
      img: './assets/img/mock.jpg'      
    },

    {
      title: 'Любой другой пункт: ',
      name: 'например окна',
      desc: 'Далее рыба текст, но при наполнение контента лучше не уходить от заданного кол-ва знаков: Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития.',
      img: './assets/img/mock.jpg'      
    },
  ]

.cmn__modal.description-modal.closed
  .cmn__modal-wrapper.description-modal__wrapper
    h2.cmn__title.description-modal__title Подробнее о производстве.

    img(src="./assets/img/mock.jpg" srcset="./assets/img/mock.jpg" alt="Изображение производства" width="1079" height="339").description-modal__img

    p.cmn__text.description-modal__desc Далее рыба текст, но при наполнение контента лучше не уходить от заданного кол-ва знаков: Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития.

    .description-modal__chars.chars
      h2.chars__title Заголовок про используемые материалы или особенности производства

      ul.chars__list
        each char in charList
          li.chars__item
            .chars__item-header.opened
              h3.chars__item-title= char.title
                span= char.name
            .chars__item-content
              p.chars__item-desc= char.desc
              img(src= char.img alt= char.name width="291" height="92")


