include ../mixins/btn

.catalog-banner
  h2.cmn__text.cmn__text--white.catalog-banner__title Если вы точно знаете, как должен выглядеть ваш дом, мы знаем, как его построить!

  span.catalog-banner__desc Стоимость: от 3 500 000 ₽

  +btn('#', 'Расчитать стоимость')(class="cmn__btn cmn__btn--white catalog-banner__btn")